<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dizhongdi.mapper.EmailMapper">

    <insert id="setEmail" parameterType="Email">
        insert into email(emailaddress,codetime,randomcode,status) values(#{emailaddress},#{codetime},#{randomcode},#{status});
    </insert>
    <select id="getEmail" parameterType="String" resultType="Email">
        select * from email where emailaddress = #{emailAddress}
    </select>

    <update id="updateCode" parameterType="Email">
        update email set codetime=#{codetime},randomcode=#{randomcode} where emailaddress =#{emailaddress};

    </update>
</mapper>